@import "tailwindcss";

@theme {
  --font-header: "Montserrat", "san-serif";
  --font-text: "Hind Siliguri", "san-serif";
  --color-nav: #42307d;
  --color-nav-text: #f4ebff;
  --color-display: #0d1b2a;
  --color-btn: #6941c6;
}
