@import "tailwindcss";

@theme {
  --font-header: "Montserrat", "san-serif";
  --font-text: "Hind Siliguri", "san-serif";
  --color-nav: #42307d;
  --color-nav-text: #f4ebff;
  --color-display: #101828;
  --color-sub-display: #475467;
  --color-btn: #6941c6;
  --color-main-text: #1d2939;
  --color-main-text-light: #667085;
}

.fc .fc-button {
  background-color: transparent !important;
  color: #000000 !important;
  border: none !important;
}

.fc .fc-button:focus {
  border: none !important;
}

.fc .fc-button:hover {
  background-color: transparent !important; 
  border: none !important; 
}

.fc .fc-button-active {
  border: none !important;
  /* font-weight: 600 !important; */
  outline: none !important;
}

fc .fc-daygrid-day-frame {
  aspect-ratio: 1 !important; /* Perfect squares */
  min-height: 80px; /* Minimum size */
}

.fc .fc-daygrid-day {
  border: none !important;
}