@import "tailwindcss";

@theme {
  --font-header: "Montserrat", "san-serif";
  --font-text: "Hind Siliguri", "san-serif";
  --color-nav: #42307d;
  --color-nav-text: #f4ebff;
  --color-display: #101828;
  --color-sub-display: #475467;
  --color-btn: #6941c6;
  --color-main-text: #1d2939;
  --color-main-text-light: #667085;
}
